
Deliverables/.DS_Store
.DS_Store
*.cache
*.editorconfig
app/obj/
app/bin/
obj/
bin/
npm/
node_modules/
package-lock.json
jsconfig.json
appsettings.json
appsettings.*.json
launchsettings.json
Properties/
*.v2
*.v1
MotoMoto_Solution/.vs/TheNewPanelist_Solution/v17/.suo
MotoMoto_Solution/.vs/TheNewPanelist_Solution/v17/.futdcache.v1
MotoMoto_Solution/.vs/TheNewPanelist_Solution/DesignTimeBuild/.dtbcache.v2
MotoMoto_Solution/.vs/