
Deliverables/.DS_Store
.DS_Store
app/obj/Debug/net6.0/apphost.exe
*.cache
*.editorconfig
app/bin/Debug/net6.0/
app/obj/Debug/net6.0/
app/obj/
app/bin/
MotoMoto_Solution/TheNewPanelists.MotoMoto.ApplicationLayer/TheNewPanelists.MotoMoto.ApplicationLayer.Login/obj
obj/
bin/
npm/
node_modules/
package-lock.json
jsconfig.json
appsettings.json
appsettings.*.json
launchsettings.json
app/.vs/
app/.vscode/
MotoMoto_Unit_Tests/obj/
MotoMoto_Unit_Tests/bin/
app/bin/Debug/net6.0/app.deps.json
app/bin/Debug/net6.0/app.dll
app/bin/Debug/net6.0/app.pdb
app/bin/Debug/net6.0/ref/app.dll
app/obj/Debug/net6.0/app.assets.cache
app/obj/Debug/net6.0/app.dll
app/obj/Debug/net6.0/app.pdb
app/obj/Debug/net6.0/ref/app.dll
app/bin/Debug/net6.0/app
app/bin/Debug/net6.0/app.deps.json
app/bin/Debug/net6.0/app.dll
app/bin/Debug/net6.0/app.pdb
app/bin/Debug/net6.0/Microsoft.TestPlatform.PlatformAbstractions.dll
app/bin/Debug/net6.0/ref/app.dll
app/obj/app.csproj.nuget.dgspec.json
app/obj/app.csproj.nuget.g.props
app/obj/Debug/net6.0/app.assets.cache
app/obj/Debug/net6.0/app.csproj.AssemblyReference.cache
app/obj/Debug/net6.0/app.csproj.CoreCompileInputs.cache
app/obj/Debug/net6.0/app.csproj.FileListAbsolute.txt
app/obj/Debug/net6.0/app.dll
app/obj/Debug/net6.0/app.genruntimeconfig.cache
app/obj/Debug/net6.0/app.pdb
app/obj/Debug/net6.0/apphost
app/obj/Debug/net6.0/ref/app.dll
app/obj/project.assets.json
app/obj/project.nuget.cache
app/obj/Debug/net6.0/app.csproj.AssemblyReference.cache
app/obj/Debug/net6.0/app.GeneratedMSBuildEditorConfig.editorconfig
app/obj/Debug/net6.0/ref/app.dll
app/obj/Debug/net6.0/app.pdb
app/obj/Debug/net6.0/app.dll
app/obj/Debug/net6.0/app.csproj.CoreCompileInputs.cache
app/obj/Debug/net6.0/app.csproj.AssemblyReference.cache
app/bin/Debug/net6.0/ref/app.dll
app/bin/Debug/net6.0/app.pdb
app/bin/Debug/net6.0/app.dll
app/obj/project.nuget.cache
MotoMoto_Solution/.vs/TheNewPanelist_Solution/v17/.suo
*.v2
*.v1
MotoMoto_Solution/.vs/TheNewPanelist_Solution/v17/.suo
MotoMoto_Solution/.vs/TheNewPanelist_Solution/v17/.suo
MotoMoto_Solution/.vs/TheNewPanelist_Solution/DesignTimeBuild/.dtbcache.v2
MotoMoto_Solution/.vs/TheNewPanelist_Solution/v17/.suo
MotoMoto_Solution/.vs/TheNewPanelist_Solution/v17/.futdcache.v1
MotoMoto_Solution/.vs/TheNewPanelist_Solution/DesignTimeBuild/.dtbcache.v2
MotoMoto_Solution/.vs/