<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="conn" 
			 providerName="MySql.Data.MySqlClient"
			 connectionString="server=moto-moto.crd4iyvrocsl.us-west-1.rds.amazonaws.com;user=dev_moto;database=pro_moto;port=3306;password=motomoto;"/>
	</connectionStrings>
</configuration>